:root {
  /* Light Theme */
  --bg-color: #ffffff;
  --text-color: #131722;
  --panel-bg: #f0f3fa;
  --border-color: #e0e3eb;
  
  /* Indicators */
  --color-fear: #ea3943;
  --color-neutral: #f4b23e;
  --color-greed: #0ecb81;
}

[data-theme='dark'] {
  /* Dark Theme variables */
  --bg-color: #131722;
  --text-color: #d1d4dc;
  --panel-bg: #1e222d;
  --border-color: #2a2e39;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
